.working-directory {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: large;

  .commands {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: x-large;

    button {
      display: flex;
      align-items: center;
    }
    
    .up {
      transform: scaleX(-1) rotate(90deg);
    }
  }

  ul {
    margin-left: 0.5rem;
    font-family: monospace;
    padding-inline: 0;
    margin-block: 0;
  }

  li {
    cursor: pointer;
    list-style-type: none;
    text-align: start;
    margin: 0.25rem;
  }

  .current-dir {
    font-family: monospace;
    font-weight: bold;
  }

  .selected {
    background-color: #5e5e5e;
  }
}
