.working-directory {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: large;
  scroll-padding-top: 4rem;
  scroll-margin-top: 4rem;

  --commands-height: 2.5rem;

  .commands {
    position: sticky;
    top: 0;
    background-color: #303030;
    align-self: stretch;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    font-size: x-large;
    border-bottom: 1px solid #d0d0d0;

    button {
      display: flex;
      align-items: center;
    }

    .up {
      transform: scaleX(-1) rotate(90deg);
    }
  }

  .file-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    font-family: monospace;

    .current-dir {
      font-weight: bold;
      align-self: flex-start;
    }

    ul {
      margin-left: 0.5rem;
    }

    li {
      display: flex;
      align-items: center;
      padding: 0.125rem;
      gap:0.25rem;

      &:focus {
        background-color: var(--selected-color);
      }

      &:focus-visible {
        outline: none;
      }
    }
  }
}
