.tree-view {
  font-size: large;

  ul {
    padding-inline: 0;
    margin-block: 0;
    font-family: monospace;

  }
  li {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-align: start;
    user-select: none;

    .icon {
      margin: 0 0.25rem;
    }

    .item-content {
      display: flex;
      align-items: center;
      padding-right: 0.25rem;

      &.marked {
        background: linear-gradient(
          90deg,
          rgba(17, 60, 119, 1) 0%,
          rgba(0, 212, 255, 0) 100%
        );
        border-radius: 0.5rem 0 0 0.5rem;

        .icon {
          transform: rotate(180deg);
        }
      }

      .icon {
        transition: transform 0.2s;

        &.expanded {
          transform: rotate(90deg);
        }
      }
    }

    .loading {
      vertical-align: baseline;
      animation: spin 1s linear infinite;
    }

    .indent {
      margin: 0 0.5rem;
      align-self: stretch;
      border-left-width: 1px;
      border-left-style: solid;
      opacity: 0.5;

      &:nth-of-type(3n + 0) {
        border-left-color: cyan;
      }
      &:nth-of-type(3n + 1) {
        border-left-color: greenyellow;
      }
      &:nth-of-type(3n + 2) {
        border-left-color: orange;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
